<!-- html -->
        <head>
            <meta charset="UTF-8">
            <title>TCG Maker</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
        </head>
        <body>
            <nav>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/howtoplay">How to Play</a>
                <a href="/login" class="login-btn">Login</a>
            </nav>

            <main>
                {% block content %}
                {% endblock %}
            </main>
        </body>
        </html>